body {
    margin: 40px;
    font-family: "Candara", serif;
    font-size: 12pt;
    background-image:url("http://ak0.picdn.net/shutterstock/videos/12889550/thumb/1.jpg");
}

header {
    font-family: "Trajan Pro", serif;
    padding-bottom: 10px;
}

header h1 {
    font-size: 20pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

header span {
    font-size: 10pt;
    float: right;
}

section h2 {
    font-family: "Trajan Pro", serif;
    font-size: 14pt;
}


section p {
    margin-left: 40px;
}


section ul {
    list-style-type: circle;
}

